.question-header {
  width: 100%;
  border-bottom: 1px solid $gray20;
  padding-bottom: 34px;

  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .question-title {
      @include head-3;

      color: $black;
    }

    .action-icon-wrap {
      display: flex;
      gap: 8px;
    }
  }

  .header-info-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .count-info-wrap {
      display: flex;
      gap: 28px;

      .count-item-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
