.question-header {
  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .question-title {
      @include head-3;

      color: $black;
    }
  }

  .header-info-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .count-info-wrap {
      display: flex;
      gap: 28px;

      .count-item-wrap {
        display: flex;
        align-items: center;
        gap: 8px;;
      }
    }
  }
}