.answer-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-bottom: 2px solid $gray20;
  padding-bottom: 48px;
  padding-top: 24px;

  > .content-wrap {
    padding-left: 55px;
    margin-bottom: 20px;
  }

  > .comment-wrap {
    padding-left: 55px;
  }
}
